.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content a{
    text-decoration-color: none;
    color: snow;
    font-size: 25px;
}
.dropdown:hover .dropdown-content{
    display: block;
    background-color: rgb(136, 43, 0);
    color: white;
    font-size: 25px;
    border-radius: 12px;
    border: #8BC7FC solid 2px ;
}